@model Blog.Models.PendingBlogs

<h2>Update Blog</h2>

<form method="post" asp-action="UpdateBlog">
    <div class="form-floating py-2 col-12">
        <input asp-for="Id" class="form-control border-0 shadow" />
        <label asp-for="Id" class="ms-2"></label>
        <span asp-validation-for="Id" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="Title" class="form-control border-0 shadow" />
        <label asp-for="Title" class="ms-2"></label>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-floating py-2 col-12">
        <input asp-for="Content" class="form-control border-0 shadow" />
        <label asp-for="Content" class="ms-2"></label>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="Category" class="form-control border-0 shadow" />
        <label asp-for="Category" class="ms-2"></label>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="SubscriptionsAllowed" class="form-control border-0 shadow" />
        <label asp-for="SubscriptionsAllowed" class="ms-2"></label>
        <span asp-validation-for="SubscriptionsAllowed" class="text-danger"></span>
    </div>
    <div class="form-floating py-2 col-12">
        <input asp-for="SubscriptionsUsed" class="form-control border-0 shadow" />
        <label asp-for="SubscriptionsUsed" class="ms-2"></label>
        <span asp-validation-for="SubscriptionsUsed" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
