@model Blog.Models.SubscribeUnHelper

<h2>Subscribe/Unsubscribe</h2>

<p>
    @if (Model.Isstatus)
    {
        <span>You are subscribed to this blog.</span>
        <form method="post" asp-action="SubscribeUnsubscribe">
            <div class="form-group">
                <label asp-for="Userid">User ID:</label>
                <input type="text" class="form-control" asp-for="Userid" required>
            </div>

            <div class="form-group">
                <label asp-for="Blogid">Blog ID:</label>
                <input type="text" class="form-control" asp-for="Blogid" required>
            </div>
            <div class="form-group">
                <label for="Isstatus">Isstatus:</label>
                <select class="form-control" asp-for="Isstatus" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Subscribe</button>
        </form>
    }
    else
    {
        <span>You are not subscribed to this blog.</span>
        <form method="post" asp-action="SubscribeUnsubscribe">
            <div class="form-group">
                <label asp-for="Userid">User ID:</label>
                <input type="text" class="form-control" asp-for="Userid" required>
            </div>
            <div class="form-group">
                <label asp-for="Blogid">Blog ID:</label>
                <input type="text" class="form-control" asp-for="Blogid" required>
            </div>
            <div class="form-group">
                <label for="Isstatus">Isstatus:</label>
                <select class="form-control" asp-for="Isstatus" required>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
            <button type="submit" class="btn btn-success">Subscribe</button>
        </form>
    }
</p>